/* TODO: Build css for index.html with (../README.md) gif as reference
    - Timer in upper-left 
    - Link to Highscores in upper-right 
    - Centered Header with description of quiz
    - Purple Button starts quiz
   Build css for highscores.html using gif for reference
    - Center Everything in page
    - Try to make color split table for highscores
    -  Purple Buttons*/
    .highscore {
        
    }

    #timer {
        display: inline-block;
    }

    .content {
        text-align: center;
        padding-top: 10%;
    }

    .intro {
        padding: 1%;
        display: inline-block;
        width: 60%;
    }

    .btn {
        background-color: blueviolet;
        border-color: blueviolet;
    }